@inherits LayoutComponentBase 

@inject NavigationManager NavigationManager

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenMenu>
            <RadzenMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenMenuItem Text="Users" Icon="account_box" Path="/mysql/users" />
            <RadzenMenuItem Text="Servers" Icon="dns" Path="/mysql/servers" />
            <RadzenMenuItem Text="Rules" Icon="quiz" Path="/mysql/rules" />
            <RadzenMenuItem Text="Query Digest" Icon="query_stats" Path="/mysql/queries/digest" />
        </RadzenMenu>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    bool sidebar1Expanded = true;
}