@page "/mysql/rules/add"

@using ProxysqlAdminUi.Web.Models
@using ProxysqlAdminUi.Web.Repositories

@inject ProxySqlRepository ProxySqlRepository
@inject DialogService DialogService
@inject NotificationService NotificationService

<RadzenContent Container="main">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <RadzenTemplateForm TItem="MysqlQueryRule" Data=@_queryRule Submit=@OnSubmit>
                <RadzenCard>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <RadzenCheckBox @bind-Value=@_queryRule.Active Name="Active" />
                            <RadzenLabel Text="Active" Component="Active" Style="margin-left: 8px;" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <RadzenCheckBox @bind-Value=@_queryRule.Apply Name="Apply" />
                            <RadzenLabel Text="Apply" Component="Apply" Style="margin-left: 8px;" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Username" />
                            <RadzenTextBox @bind-Value=@_queryRule.Username Name="Username" Class="w-100" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Schema Name" />
                            <RadzenTextBox @bind-Value=@_queryRule.Schemaname Name="Schemaname" Class="w-100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Client Address" />
                            <RadzenTextBox @bind-Value=@_queryRule.ClientAddr Name="ClientAddr" Class="w-100" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Proxy Address" />
                            <RadzenTextBox @bind-Value=@_queryRule.ProxyAddr Name="ProxyAddr" Class="w-100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Proxy Port" />
                            <RadzenNumeric @bind-Value=@_queryRule.ProxyPort Name="ProxyPort" Class="w-100" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Flag In" />
                            <RadzenNumeric @bind-Value=@_queryRule.FlagIn Name="FlagIn" Class="w-100" Min="0" />
                            <RadzenRequiredValidator Component="FlagIn" Text="Flag In is required" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <RadzenLabel Text="Match Pattern" />
                            <RadzenTextArea @bind-Value=@_queryRule.MatchPattern Name="MatchPattern" Class="w-100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Match Digest" />
                            <RadzenTextBox @bind-Value=@_queryRule.MatchDigest Name="MatchDigest" Class="w-100" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Digest" />
                            <RadzenTextBox @bind-Value=@_queryRule.Digest Name="Digest" Class="w-100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Destination Hostgroup" />
                            <RadzenNumeric @bind-Value=@_queryRule.DestinationHostgroup Name="DestinationHostgroup" Class="w-100" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Cache TTL" />
                            <RadzenNumeric @bind-Value=@_queryRule.CacheTtl Name="CacheTtl" Class="w-100" Min="1" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <RadzenCheckBox @bind-Value=@_queryRule.CacheEmptyResult Name="CacheEmptyResult" />
                            <RadzenLabel Text="Cache Empty Result" Component="CacheEmptyResult" Style="margin-left: 8px;" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <RadzenLabel Text="Cache Timeout" />
                            <RadzenNumeric @bind-Value=@_queryRule.CacheTimeout Name="CacheTimeout" Class="w-100" Min="0" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <RadzenLabel Text="Comment" />
                            <RadzenTextArea @bind-Value=@_queryRule.Comment Name="Comment" Class="w-100" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" ButtonStyle="ButtonStyle.Primary" Class="mr-2" />
                            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Light" Click=@OnCancel />
                        </div>
                    </div>
                </RadzenCard>
            </RadzenTemplateForm>
        </div>
    </div>
</RadzenContent>

@code {
    [Parameter]
    public string? DigestParam { get; set; }

    [Parameter]
    public int? Minutes { get; set; }

    private MysqlQueryRule _queryRule = new()
    {
        Active = true,
        Apply = true,
        ReModifiers = "CASELESS",
        Attributes = string.Empty
    };

    protected override Task OnInitializedAsync()
    {
        _queryRule.Digest = DigestParam;
        if (Minutes != null)
        {
            _queryRule.CacheTtl = Minutes.Value * 60_000;
        }
        return base.OnInitializedAsync();
    }

    private async Task OnSubmit()
    {
        try
        {
            await ProxySqlRepository.AddMySqlQueryRule(_queryRule);
            NotificationService.Notify(NotificationSeverity.Success, "Success", "Query rule added successfully");
            DialogService.Close(true);
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "Failed to add query rule: " + ex.Message);
        }
    }

    private void OnCancel()
    {
        DialogService.Close(false);
    }
}